body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.circle-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.circle-list li {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.circle-list li:last-child {
  margin-right: 0;
}

.circle-list li:hover {
  color: #fff;
}

.circle-list li:hover .tooltipe {
  opacity: 1;
  animation: Jump-in 0.3s ease-in-out forwards;
}

.circle-list li.Facebook:hover,
.circle-list li.Facebook .tooltipe {
  background-color: #3b5998;
}

.circle-list li.Instagram:hover,
.circle-list li.Instagram .tooltipe {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.circle-list li.Youtube:hover,
.circle-list li.Youtube .tooltipe {
  background-color: #c4302b;
}

.circle-list li.Github:hover,
.circle-list li.Github .tooltipe {
  background-color: #444;
}

.circle-list li.Twitter:hover,
.circle-list li.Twitter .tooltipe {
  background-color: #00acee;
}

.circle-list li .tooltipe {
  font-size: 0.8rem;
  position: absolute;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: jump-out 0.3s ease-in-out forwards;
  transition: opacity 0.1s, top 0.3s;
}

.circle-list li .tooltipe::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 23px;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
}

.circle-list li.Facebook .tooltipe::after {
  border-top-color: #3b5998;
}

.circle-list li.Instagram .tooltipe::after {
  border-top-color: #f03333;
}

.circle-list li.Youtube .tooltipe::after {
  border-top-color: #c4302b;
}

.circle-list li.Github .tooltipe::after {
  border-top-color: #444;
}

.circle-list li.Twitter .tooltipe::after {
  border-top-color: #00acee;
}

@keyframes Jump-in {
  0% {
    top: -30px;
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    top: -30px;
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    top: -30px;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes Jump-out {
  0% {
    top: -30px;
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    top: -30px;
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    top: -30px;
    opacity: 0;
    transform: translateY(20px);
  }
}
